body {
  background-color: #0f0f0f;
  color: #00ff99;
  font-family: monospace;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}
input, textarea {
  padding: 10px;
  width: 80%;
  margin: 10px 0;
  background: #111;
  color: #0f0;
  border: 1px solid #0f0;
}
button {
  padding: 10px 20px;
  background: #222;
  color: #0f0;
  border: 1px solid #0f0;
  cursor: pointer;
}
a {
  color: #0ff;
  text-decoration: none;
}
.tier-button {
  display: block;
  background-color: #111;
  color: #0f0;
  border: 2px solid #0f0;
  padding: 10px;
  margin: 10px auto;
  width: 80%;
  max-width: 300px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.tier-button:hover {
  background-color: #0f0;
  color: #111;
}
